/* my colors */
$color-code: #8B4000;


.title {
  font-size: 30px;
  font-style: bold;
  color: #0B6162;
}

/* headline level 1 styling*/
h1 {
  color: #197da5;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 10px;
}

/* headline level 2 styling*/
h2{
  font-size: 26px;
  color: 	#6497b1;
  font-weight: bold;
}

/* headline level 2 styling*/
h3{
  font-size: 24px;
  color: 	#6497b1;
  font-weight: bold;
}

body{
  font-size: 18px;
}

/* text inside backticks styling*/
code{
  color: #8B4000;
  font-weight: bold;
  font-size: 16px;
  background: #f5f5f5;
}

